# HAOS required options (merged from bootloader/uboot.config, without FILEENV patch)
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_BOOTDELAY=-2
CONFIG_SYS_PROMPT="HAOS> "
CONFIG_EFI_PARTITION=y
CONFIG_FS_EXT4=y
CONFIG_FS_FAT=y
CONFIG_FS_SQUASHFS=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_LZO=y

# E20C specific: disable DWC Ethernet (RK3528 uses different MAC)
# CONFIG_DWC_ETH_QOS is not set
